<!-- certificates.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Afacad&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Protest+Riot:ital,wght@0,400;0,700;1,400;1,700&display=swap">

    <link rel="icon" href="assets/top_bar.png" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap" rel="stylesheet">

    <title>Mr Idea Man - Certificates</title>
    <link rel="stylesheet" href="/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
  </head>
  <body>
    <div class="cursor"></div>
    <div class="cursor-follower"></div>
    <%- include('header.ejs') %>
    <h2>CertiFicates</h2>
    <!-- Create a container for the certificates with a grid layout -->
    <div class="certificates-container">
      <!-- Example certificate item, repeat this for each certificate -->
      <div class="certificate">
        <img src="assets/IBM.jpg" alt="Certificate 1" />
          <p>Nutrition Assistant Application <br>IBM</p>
        </a>
      </div>

      <div class="certificate">
        <img src="assets/Cisco Iot.jpg" alt="Certificate 2" />
        <p>Internet of things <br> IOT</p>
      </div>

      <div class="certificate">
        <img src="assets/Nasscom.jpg" alt="Certificate 3" />
        <p>Experiential - Project Based Learning <br>Nasscom & Naan Mudhalvan</p>
      </div>

      <div class="certificate">
        <img src="assets/Kshitij.jpg" alt="Certificate 4" />
        <p>Source Code of Kascade <br> Kshitij </p>
      </div>

      <div class="certificate">
        <img src="assets/Skillup.jpg" alt="Certificate 5" />
        <p>Full Stack Development <br> SkillUp </p>
      </div>

      <!-- <div class="certificate">
        <img src="assets/Kshitij.jpg" alt="Certificate 6" />
        <p>Source Code of Kascade <br> Kshitij </p>
      </div> -->
      <!-- Add more certificate items as needed -->
    </div>
    <%- include('footer.ejs') %>
    <script src="main.js"></script>
  </body>
</html>
