<header>
    <div class="logo-header">
        <img src="assets/logo.jpg" alt="Logo" class="logo">
        <h1><a href="/" class="home-link">MR IDEA MAN</a></h1>
    </div>
    <div class="menu-icon">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <nav id="menu" class="menu">
      <a href="/about"><h3 class="about">About Me</h3></a>
      <a href="assets/Gk.pdf"><h3 class="resume">Resume</h3></a>
      <a href="/projects"><h3 class="projects">Projects</h3></a>
      <a href="/certifications" ><h3 class="cert">Certifications</h3></a>
      <a href="/contact" ><h3 class="contact">Contact</h3></a>
    </nav>
  </header>