<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Afacad&display=swap"
      rel="stylesheet"
    />
    
    <link rel="icon" href="assets/top_bar.png" type="image/x-icon" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <title>Mr Idea Man</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <div class="cursor"></div>
    <div class="cursor-follower"></div>
    <%- include('header.ejs') %>
    <div class="quote">
      <p>“It does not matter</p>
      <p>how slowly you go</p>
      <p>as long as you do not stop.”</p>
      <p>– Confucius</p>
    </div>
    <%- include('footer.ejs') %>
    <script src="main.js"></script>
  </body>
</html>
